*{margin:0;padding:0}
body{
    font-family: 'Fjalla One', sans-serif;
    {width: 100%; height: auto;}
}
.container {width:960px; margin:0 auto; display:block };

.sidclr{
    border-radius: 20px;
    background: red;
    height: 100px;
    width: 3px;
    float: left;
}
mark{
    background: none;
    color: #FFAD5A;
}
.container.h2{
    font-size: 10px;
}
.hdrlft{
    margin-bottom: 30px;
    margin-top: 85px;
    width: 480px;
    float: left;
}
.hdr-right{
    width: 480px;
    float: right;
}
..hdr-right img{
    width: 300px;
}

.hdrlft ul li{
    list-style-type: none;
}

.hdrlft ul li a{
    color: white;
    background: #ff5959e3;;
    padding: 7px;
    text-decoration: none;
    
    border-radius: 3px;
    margin: 0px 0px 0px 8px;
    padding-left: 24px;
    padding-right: 21px;
}

.divarea{
    margin-bottom:50px;
}

.area1{
    border-radius: 6px;
    background: #c1dadd8c;
    position: relative;
    width: 300px;
    float: left;
}
.area2{
    margin-left: 30px;
    border-radius: 6px;
    background: #FFEEEE;
    position: relative;
    width: 300px;
    float: left;

}

.area3{
   
    border-radius: 6px;
    background: #FFEEEE;
    position: relative;
    width: 300px;
   
    float: right;

}
.develop-content-lft-div{
    width: 450px;
    float: left;
}
.develop-content-right-div{
    width: 450px;
    margin-bottom: 100px;
    float: right;
}
.develop-content-right-div ul li{
    padding: 35px;
    list-style-type: none;
    margin-left: 15px;
}

.develop-content-right-div ul li a{
    color: white;
    background: #ff5959e3;
    padding: 7px;
    text-decoration: none;
    
    border-radius: 3px;
    margin: 0px 0px 0px 8px;
    padding-left: 24px;
    padding-right: 21px;
}
.devlop-area-left{
    margin-left: 55px;
    width: 450px;
}
.devlop-area-right{
    float: right;
}
.devlop-area-left ul li a{
    color: white;
    background: #ff5959e3;
    padding: 7px;
    text-decoration: none;
    border-radius: 3px;
    margin: 0px 0px 0px 8px;
    padding-left: 24px;
    padding-right: 21px;
}
.devlop-area-left ul li{
    margin-left: 12px;
  list-style-type: none;
}
.footer-top-left{
    width: 400px;
    float: left;
}
.footer-top-right{
    margin-right: 55px;
    width: 400px;
    float: right;
    margin-top: 99px;
}
.footer-top-right ul li a{
    color: white;
    background: #ff5959e3;
    padding: 7px;
    text-decoration: none;
    border-radius: 3px;
    margin: 0px 0px 0px 8px;
    padding-left: 24px;
    padding-right: 21px;
}
.footer-top-right ul li{
    margin-left: 12px;
  list-style-type: none;
}
